@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
 
 font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    cursor: default;
    font-weight: 300;
    text-rendering: optimizespeed;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
        display: block;
    height: 100%;
}



.header{
    padding: 24px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    gap: 16px;
   
}


.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: transparent;
    justify-content: center;
    align-items: center; 
   position: absolute;
   top: 0;
    width: 100%;
}
.logo{
    flex:20%;
    /*border: 1px solid red;?*/
  text-align: center;
    

}
.logo h1{
    margin-left: 10%;
    margin-bottom:13%;
    font-family: 'Alfa Slab One', sans-serif;
    color:#8D6E63;
    font-size:15px ;
    text-align: center;
}
.menu{
    flex: 80%;
    /*border: 1px solid yellow;*/
 text-align: center;
    padding: 20px;
}

/*aqui fiz para que o a pagina home fique selecionada o tempo inteiro*/

#a1{
  color:#8D6E63;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 16px;
  color:green;
    border-top: 4px solid green;
    font-weight: 600;

}
#a1:hover{
    color:green;
    border-top: 4px solid green;
 
}




.menu a{
  color:#8D6E63;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 16px;
  font-weight: 600;
  

}
.menu a:hover{
    color:green;
    border-top: 4px solid green;
 
}
#botao{
    display: flex;
    background:#054b54;
   font-weight: 700;
   text-align: center;
   align-items: center;
   justify-content: center;
   height: 36px;
    padding: 0px 16px;
    color:white;
    border-radius: 60px;
    margin-right: 12%;
    margin-left: 0%;
    font-size: 16px;

}
#botao:hover{
    border: none;
    background: green;
}

#botao2{
    display: flex;
    background:#026443;
   font-weight: 700;
   text-align: center;
   align-items: center;
   justify-content: center;
   height: 36px;
    padding: 0px 16px;
    color:white;
    border-radius: 60px;
    margin-right: 2%;
    margin-left: 10%;
     font-size: 16px;

}
#botao2:hover{
    border: none;
    background: green;
}



img.pic{
        position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: auto;

}


section{
        position: relative;
padding: 75px 75px 75px 75px;
    height: 95vh;
    display: flex
;
    align-items: center;
    margin-top: 20px;
 
    
}
.readline{
     position: relative;
    z-index: 1;
    max-width: 1480px;
    margin: auto;
    width: 100%;
}

.content{
    padding-bottom: 15%;
    

}
p.tagLine{
    font-size: 2rem;
    color: #147500;
    margin-bottom: 8px;
    line-height: 1.2;
    font-weight: 700;
  
}

.contact-nos{
    display: flex;
    background:#4CAF50;
    color:white;
    font-weight: 600;
    text-decoration: none;
     text-align: center;
   align-items: center;
   justify-content: center;
    height: 40px;
    width: 10%;
    padding: 0px 20px;
    color:white;
    border-radius: 60px;
 
}
.contact-nos:hover{
    background: #8D6E63;
}




img.grapic{
      position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: auto; 
}
.grapic{
    display: none;
}



div.background{
   /* background-image:  linear-gradient(to right, #634c1a, #615625);*/
    margin-top: -100px;
    position: relative;
    z-index: 2;
    display: block;
    
}

.background section{
    background-color: #054b54;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 75px;
    padding-right: 75px;
    padding-left: 75px;
    padding-bottom: 72px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}
.icon{
    height: 300px;
}


div.imgN{
    background-image: url('../img/backgrpun-imgjpeg.jpeg');
    background-size: cover;
    height: auto;
    width: 100vw;
    margin-top: -1px;
    padding-bottom: 1px;
}




#fresh{
      padding: var(--section-padding);
    text-align: center;
    display: flex
;
padding-bottom: 10%;


    flex-direction: column;
    justify-content: center;
    align-items: center;  
}









.container{
 display: flex;
 flex-direction: row;
 padding-top: 2%;
}




.box{
 margin-left: 2%;
margin-right: 2%;
 width: 60vh;
height: 250px;
padding-top:20px ;
border-radius: 20px; 
border:1px solid rgb(247, 245, 245);
color:aliceblue;
background-color:  #486063;
 transition: 0.5s;
     box-shadow: 0 8px 12px 6px #0000001a; 

   
}


.box h1 {
margin-top: 20px;
font-size: 20px;
}
.box  p{
    color: rgb(167, 161, 161);
    margin-top: 10px;
}

.img{
    color: aliceblue;
    background-color: #486063;
    width: 50px;
    height: 50px;
 margin: auto;
    border-radius: 100px;
    box-shadow: rgba(21, 247, 1, 0.2) 0px 7px 29px 0px;
}
.box i{
    color:rgb(21, 255, 0);
margin-left: 12px;
font-size: 20px;
margin-top: 17px;



}
.box:hover{
transform: scale(1.1);

cursor: pointer;
    border: 1px solid rgb(21, 255, 0);


}
.box:hover h1{
    color:rgb(21, 255, 0);

}

.box:hover  .img{
    width: 50px;
    height: 50px;
   border-radius: 10px;
   background: rgb(21, 255, 0);

}
.box:hover i{
    color: black;
}

.externo h1{
    color: aliceblue;
    margin-top: 30px;
    text-align: center;
}

.externo p{
    color: rgb(167, 161, 161);
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}
.look{
    color: rgb(21, 255, 0);
}



.hide {
display: none;

}
.show {
display: block;

}                                                                           


.box-active{
transform: scale(1.1);

cursor: pointer;
    border: 1px solid rgb(21, 255, 0);


}
.box-active h1{
    color:rgb(21, 255, 0);

}

.box-active  .img{
    width: 50px;
    height: 50px;
   border-radius: 10px;
   background: rgb(21, 255, 0);

}
.box-active i{
    color: black;
}

#cardContent{
margin-left: 24%;
    background: #026443;
    padding: 50px;
    margin-top: 32px;
    border-radius: 16px;
height: 300px;
width: 50%;
align-items: center;
justify-content: center;
justify-items: center;
}

